@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
#djDebug #djDebugToolbarHandle {
  top: auto !important;
  bottom: 30px; }

body {
  margin: 0;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 14px;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (min-width: 640px) {
    body {
      font-size: 16px; } }
  body * {
    margin: 0;
    padding: 0; }
  body *, body *:before, body *:after {
    box-sizing: border-box; }

h1 {
  font-size: 1.2em; }

h2 {
  font-size: 1.1em; }

h3 {
  font-size: 1.05em; }

p {
  font-size: 0.85em; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

form {
  width: 100%; }

fieldset {
  border: 0; }

legend {
  display: none; }

input[type="text"],
button {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none; }

input[type="radio"] {
  margin-right: 6px;
  vertical-align: middle;
  transform: translateY(1px); }

button {
  cursor: pointer; }
  button:disabled {
    opacity: 0.4;
    cursor: not-allowed; }

@keyframes alert-show {
  10%, 80% {
    bottom: 0; } }

.navbar + .alert {
  position: fixed;
  bottom: -100px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  z-index: 1000;
  animation: alert-show 3s; }

.alert {
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px; }

.alert-success,
.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

button[class*="btn-"]:focus {
  outline: none; }

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  width: 100%;
  border-radius: 4px;
  transition: all 0.2s;
  background-color: #efd17a;
  color: #153772; }
  @media (any-hover: hover) {
    .btn-primary:hover {
      background-color: #d7bc6e; } }
  .btn-primary:focus {
    background-color: #d7bc6e; }

.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  width: 100%;
  border-radius: 4px;
  transition: all 0.2s;
  background-color: #112c5b;
  color: #fff; }
  @media (any-hover: hover) {
    .btn-secondary:hover {
      background-color: #0d2144; } }
  .btn-secondary:focus {
    background-color: #0d2144; }

.btn-line-navy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  width: 100%;
  border-radius: 4px;
  transition: all 0.2s;
  font-weight: 500;
  background-color: rgba(52, 53, 88, 0.2); }

.btn {
  margin-top: 8px; }

.btn,
.btn-large {
  height: 48px;
  font-size: 16px;
  font-weight: 700; }

.btn-normal {
  height: 32px;
  font-size: 12px; }

.btn-small {
  height: 24px;
  font-size: 14px; }

.btn-mini {
  display: inline-flex;
  padding: 0 6px;
  width: auto;
  height: 20px;
  font-size: 10px; }

.btn-mini-round {
  display: inline-flex;
  padding: 0 6px;
  width: auto;
  height: 20px;
  font-size: 10px;
  border-radius: 10px; }

.form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 360px;
  color: #fff; }
  .form-wrap.center {
    text-align: center; }
  .form-wrap h1 {
    margin-bottom: 0.5em;
    font-size: 28px;
    text-align: center; }
    .form-wrap h1 + p {
      margin-bottom: 16px;
      font-size: 14px; }
  .form-wrap .txt-below-form {
    margin-top: 0.5em;
    width: 100%;
    font-size: 12px; }
  .form-wrap a:not(.btn) {
    color: inherit;
    text-decoration: underline; }
  .form-wrap .form-group:not(:first-of-type) {
    margin-top: 16px; }
  .form-wrap .form-area {
    position: relative; }
    .form-wrap .form-area .form-check-label {
      display: flex;
      align-items: center; }
    .form-wrap .form-area .form-check-input {
      margin-right: 4px; }
    .form-wrap .form-area .link-forgot-pw {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 12px; }

label,
.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400; }
  label .asteriskField,
  .form-label .asteriskField {
    margin-left: 1px;
    color: #efd17a; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
.form-input,
.form-textarea {
  margin-top: 8px;
  padding: 0 16px;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #ddd;
  background-color: #fff;
  font-size: 16px; }
  input[type="text"]:first-of-type,
  input[type="email"]:first-of-type,
  input[type="password"]:first-of-type,
  input[type="number"]:first-of-type,
  .form-input:first-of-type,
  .form-textarea:first-of-type {
    margin-top: 0; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  .form-input:focus,
  .form-textarea:focus {
    outline: none;
    border-color: #efd17a; }

.form-textarea {
  padding: 16px;
  height: auto; }

.menu-area {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 17px 15px;
  font-size: 16px;
  color: #fff;
  transition: padding .3s ease;
  z-index: 100;
  cursor: pointer; }
  @media (min-width: 640px) {
    .menu-area {
      display: none; } }
  .menu-area .bar {
    display: block;
    margin-left: 0;
    width: 1.125em;
    height: 2px;
    background-color: #fff;
    transition: all .3s ease; }
    .menu-area .bar + .bar {
      margin-top: 4px; }

.navbar.is-active .menu-area .bar:nth-of-type(1) {
  transform: translateY(5px) rotate(-45deg); }

.navbar.is-active .menu-area .bar:nth-of-type(2) {
  margin-left: 1.125em;
  width: 0;
  opacity: 0; }

.navbar.is-active .menu-area .bar:nth-of-type(3) {
  transform: translateY(-7px) rotate(45deg); }

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(17, 44, 91, 0.9); }
  @media (max-width: 639px) {
    .navbar {
      bottom: 0;
      left: -130%;
      z-index: 10;
      transition: left 0.5s; }
      .navbar.is-active {
        left: 0; } }
  .navbar .nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top: 48px; }
    @media (min-width: 640px) {
      .navbar .nav-list {
        padding: 0;
        flex-direction: row; } }
  .navbar .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    height: 48px;
    font-size: 14px;
    color: #fff; }
    @media (min-width: 640px) {
      .navbar .nav-link {
        justify-content: flex-start;
        height: 32px;
        font-size: 12px; } }

body {
  min-height: 100vh;
  background-color: #0d2144; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }
  @media (min-width: 640px) {
    .container {
      padding-top: 32px; } }
  .container .content {
    padding: 48px 0;
    width: 100%; }
    @media (min-width: 640px) {
      .container .content {
        padding: 48px 16px;
        max-width: 392px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.1); } }

.page-content {
  margin-bottom: auto;
  padding: 0 16px;
  width: 100%; }
  @media (min-width: 640px) {
    .page-content {
      padding-top: 40px;
      padding-bottom: 40px; } }

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  height: 48px;
  font-size: 16px;
  color: #fff;
  text-align: center; }
  @media (min-width: 640px) {
    .page-header {
      padding: 0;
      height: 72px;
      font-size: 24px; } }

.page-body {
  padding: 16px;
  background-color: #fff; }
  @media (min-width: 640px) {
    .page-body {
      margin: 0 auto;
      max-width: 980px; } }

.ui-tab {
  display: flex; }

.ui-tab-item {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 48px;
  color: #c7c7c7;
  cursor: pointer; }
  @media (min-width: 640px) {
    .ui-tab-item {
      flex: none;
      margin-right: 24px;
      height: 40px; } }
  @media (any-hover: hover) {
    .ui-tab-item:hover {
      color: #fff; } }
  .ui-tab-item.is-active {
    font-weight: 700;
    color: #fff; }
    .ui-tab-item.is-active::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #fff; }

.question-page .btn-send {
  margin-top: 8px; }

.team-page h2 {
  margin-bottom: 0.3em; }

.team-page h2 + p {
  margin-bottom: 8px;
  font-size: 14px; }

.team-page .email-list {
  margin-top: 8px;
  border-top: 1px solid #85869b; }

.team-page .email-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  height: 60px;
  border-bottom: 1px solid #85869b; }
  @media (any-hover: hover) {
    .team-page .email-item:hover {
      background-color: rgba(52, 53, 88, 0.1); } }
  .team-page .email-item label {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0;
    padding-right: 50px;
    height: 100%;
    font-size: 14px;
    cursor: pointer; }
  .team-page .email-item .btn-area {
    position: absolute;
    top: 0;
    right: 8px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    pointer-events: none; }
  .team-page .email-item .btn-mini-round:not(:first-of-type) {
    margin-top: 4px; }
  .team-page .email-item .btn-mini-round.primary {
    background-color: rgba(239, 209, 122, 0.5); }

@media (max-width: 639px) {
  .team-page .col + .col {
    margin-top: 24px; } }

@media (min-width: 640px) {
  .team-page .row {
    display: flex;
    padding: 0; }
  .team-page .col {
    flex: 1;
    padding: 16px; } }

.main-page h1 {
  margin-bottom: 40px;
  text-align: center; }
  .main-page h1 .logo {
    display: block;
    margin: 0 auto;
    width: 64px; }
  .main-page h1 span {
    display: block;
    margin-left: -1.5px;
    font-size: 28px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 3px;
    transform: scaleY(0.8); }

.main-page .btn-submit {
  margin-top: 24px; }

.events-page .page-body {
  padding: 0;
  background-color: transparent; }

.events-page .event-list {
  margin: 16px 0; }

.events-page .event-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 72px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9); }
  .events-page .event-item:not(:first-child) {
    margin-top: 8px;
    border-top: 1px solid #85869b; }
  .events-page .event-item .event-title {
    font-weight: 700;
    color: #153772; }
  .events-page .event-item .event-code {
    color: #153772; }
    .events-page .event-item .event-code::before {
      content: '#'; }
  .events-page .event-item .btn-status {
    display: inline-flex;
    width: auto;
    min-width: 80px; }
