@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap&subset=korean");
body {
  margin: 0;
  background-color: #3C507D;
  font-family: "Noto Sans KR", sans-serif; }
  body * {
    margin: 0;
    padding: 0; }
  body *, body *:before, body *:after {
    box-sizing: border-box; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

fieldset {
  border: 0; }

legend {
  display: none; }

input,
button {
  font-family: "Noto Sans KR", sans-serif;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none; }

input[type="checkbox"] {
  -webkit-appearance: checkbox; }

button {
  cursor: pointer; }
  button:disabled {
    opacity: 0.4;
    cursor: not-allowed; }

@keyframes alert-show {
  10%, 80% {
    bottom: 0; } }

.navbar + .alert {
  position: fixed;
  bottom: -100px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  z-index: 1000;
  animation: alert-show 3s; }

.alert {
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px; }

.alert-success,
.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.btn-solid-navy,
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.2s;
  background-color: #1e283f;
  color: #fff; }
  @media (any-hover: hover) {
    .btn-solid-navy:hover,
    .btn-primary:hover {
      background-color: #121826; } }

.form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 360px;
  min-height: 100vh; }
  .form-wrap.auth-wrap {
    color: #fff; }
  .form-wrap form {
    width: 100%; }
  .form-wrap h1 {
    margin-bottom: 0.5em;
    font-size: 28px;
    text-align: center; }
    .form-wrap h1 + p {
      margin-bottom: 16px;
      font-size: 14px; }
  .form-wrap .txt-below-form {
    margin-top: 0.5em;
    width: 100%;
    font-size: 12px; }
  .form-wrap a:not(.btn) {
    color: inherit;
    text-decoration: underline; }
  .form-wrap .form-group:not(:first-of-type) {
    margin-top: 16px; }
  .form-wrap label,
  .form-wrap .form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400; }
    .form-wrap label .asteriskField,
    .form-wrap .form-label .asteriskField {
      color: yellow; }
  .form-wrap input[type="text"],
  .form-wrap input[type="email"],
  .form-wrap input[type="password"],
  .form-wrap input[type="number"],
  .form-wrap .form-input {
    margin-top: 8px;
    padding: 0 16px;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 16px; }
    .form-wrap input[type="text"]:first-of-type,
    .form-wrap input[type="email"]:first-of-type,
    .form-wrap input[type="password"]:first-of-type,
    .form-wrap input[type="number"]:first-of-type,
    .form-wrap .form-input:first-of-type {
      margin-top: 0; }
  .form-wrap .form-area {
    position: relative; }
    .form-wrap .form-area .form-check-input {
      margin-right: 2px; }
    .form-wrap .form-area .link-forgot-pw {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 12px; }
  .form-wrap .btn {
    margin-top: 24px; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 64px; }
  .navbar .nav-home {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 0;
    background-image: url("/static/images/img_logo_symbol.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .navbar .nav-list {
    display: flex;
    list-style: none; }
  .navbar .nav-link {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 48px;
    font-size: 14px;
    color: #fff; }

.main-page {
  padding: 0 16px; }
  .main-page h1 {
    margin-bottom: 40px;
    text-align: center; }
    .main-page h1 .logo {
      display: block;
      margin: 0 auto;
      width: 64px; }
    .main-page h1 span {
      display: block;
      margin-left: -1.5px;
      font-size: 28px;
      font-weight: 300;
      color: #fff;
      letter-spacing: 3px;
      transform: scaleY(0.8); }
  .main-page .btn-submit {
    margin-top: 24px; }

.container {
  padding: 64px 16px 60px; }
