body
  margin: 0
  background-color: #3C507D

  *
    margin: 0
    padding: 0

  *, *:before, *:after
    box-sizing: border-box

.container
  padding: 16px

input,
button
  border: 0
  background-color: transparent
  -webkit-appearance: none
